/* Fonts 
- Orbitron - SciFi Main Title font
- Chakra Petch - SciFi title font
- Alegreya Sans SC - Block Caps body font
*/

h1 {
    font-family: "Orbitron", sans-serif;
}

.navbar-brand {
    background-color: orange;
    color: grey;
}